{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block cabecera %}
	<link rel="stylesheet" href="{% static 'css/comun/menu.css' %}">
	<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block intro %}
	<ul>
	  <li><a href="/crossfit/index">Inicio</a></li>
	  <li><a href="/crossfit/horario">Horario</a></li>
	  <li><a href="/crossfit/tarifa">Tarifas</a></li>
	  {% if user.is_authenticated  %}
	  	<li><a href="{% url 'logout' %}">Logout</a></li>
	  	<li class="zonaPrivada"><a  href="/crossfit/privada">Zona Privada</a></li>
	  	<li class="bienvenido">Bienvenido: {{ user.username }}</li>
	  {% else %}
  	  	<li><a href="/crossfit/registro/">Registrarse</a></li>
	  	<li class="zonaPrivada"><a  href="/crossfit/login">Zona Privada</a></li>
	  {% endif %}
	</ul>
{% endblock %}

{% block contenido %}
	<div class="container registro">
		<div class="formRegistro">
			<h2>Nuevo Registro</h2>
			<form action="{% url 'registro' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="btnRegistrar">
					<input type="submit" value="Registrar" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
{% endblock %}