.contenidoPrivada{
  margin-left: 2%;
  margin-bottom: 15%;
}
.info{
  margin-top: 25%;
  border: 1px solid #A0A0A0;
}
.info td{
  text-align: justify;
  width:50%;
  padding-top: 4.5%;
  padding-bottom:4.5%;
  background-color: #d2d2d2;
  padding-left: 8%;
}
a{
  font-weight: bold;
  color:black;
}
.opciones {
  margin-top: 4%;
}

.opciones td{
  width: 10%;
  padding-left: 8%;
}

h4 {
  font-size: medium;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #2866B9;
}
.opcionesUsuario{
  margin-bottom: 5%;
}
.fotoUser img{
  border-radius: 50%;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-left: 20%;
}