{% extends "base.html" %}
{% load staticfiles %}
{% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/zonaPrivada/entrenosAtletas.css' %}">
    <link rel="stylesheet" href="{% static 'css/comun/paginacion.css' %}">
{% endblock %}
{% block intro %}
    <h1 class="cabecera">Lista de entrenos</h1>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-3 contenidoPrivada">
            <table class="info">
                <tr>
                    <td class="fotoUser"><img src="{{ perfil.foto.url }}"></td>
                </tr>
                <tr>
                    <td><h4>{{ perfil.nombre }}</h4></td>
                </tr>
                <tr>
                    {% if perfil.bono == none %}
                        <td><h4>Sin tarifa</h4></td>
                    {% else %}
                        <td><h4>{{ perfil.bono.tipo }}</h4></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/">Zona Privada</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/reservarClase">Reservar Clases</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/atletas">Atletas</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/modPerfil">Modificar Perfil</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/benchmarks">BenchMarks</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/privada/contacto">Contacto</a></h4></td>
                </tr>
                <tr>
                    <td><h4><a href="/crossfit/logout">Salir</a></h4></td>
                </tr>
            </table>
        </div>
        <div class="col-md-7 entrenosUsuarios">
            <div class="paginacion">
                <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page=1">&laquo; Primero</a>
                    <a href="?page={{ object_list.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="nPaginas">
                        &nbsp; Página {{ object_list.number }} de {{ object_list.paginator.num_pages }} &nbsp;
                    </span>

                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">Siguiente</a>
                    <a href="?page={{ object_list.paginator.num_pages }}">Último &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <div class="col-md-8 infEntreno">
                {% for entreno in object_list %}
                <div class="col-md-12 entreno">
                    <div class="infoEntreno">
                        <div >
                            <p class="nombre"><b>{{ entreno.nombre }}</b></p>
                            <p><b>Ejercicios: </b><br> {{ entreno.ejercicios }}</p>
                            {% if entreno.usuario == None %}
                                <p class="creador"><b>Creador: Anónimo</b></p>
                            {% else %}
                                <p class="creador"><b>Creador: {{ entreno.usuario.usuario.username }}</b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}